body {
    font-family: Arial;
    color: yellow;
    background-image:url("m4th.jpg");   
 font-size: 12px;
}
 H2{
    font-family: star jedi;
    color: yellow;
    background-image:url("m4th.jpg");   
 font-size: 36px;
}


.contenido {
    font-size: 80%;
}
